*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    width: 100%;
    height: 100%;
    user-select: none;
}
#main{
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1532210317995-cc56d90177d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-position: center;
    z-index: -10;
}
#nav{
    position: relative;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    width: 100%;
    height: 10%;
}
#logo{
    display: flex;
    align-items: flex-end;
}
#logo>img{
    height: 50px;
}
#logo>p{
    font-size: 30px;
}
input{
    background-color:transparent;
    border: 2px solid gray;
    width: 300px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border-radius: 20px;
    text-align: center;
    font-size: 17px;
    color: black;
}
#menu{
    gap: 15px;
    display: flex;
    align-items: center;
}
#menu>p{
    font-size: 20px;
}
#menu>i{
    font-size: 25px;
}
#cards{
    padding: 0 100px;
    gap: 100px;
    display: flex;
    align-items: flex-end;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 70%;
    color: #fff;
    /* white-space: nowrap; */
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
#cards::-webkit-scrollbar{
    display: none;
}
.card{
    flex-shrink: 0;
    width: 350px;
    border-radius: 20px;
    /* display: inline; */
}
.card:hover img{
    cursor: pointer;
    transform: translateY(-18%);
}
.card:hover .text{
    cursor: pointer;
    transform: translateY(-40%);
}
#a{
    height: 350px;
    background-color:red;
}
#b{
    height: 250px;
    background-color: #FF7006;
}
#c{
    height: 320px;
    background-color: #1E92C3;
}
#d{
    height: 350px;
    background-color: #FF6237;
}
#e{
    height: 300px;
    background-color: #1A74E5;
}
#f{
    height: 200px;
    background-color: #8E581E;
}
.card>img{
    position: absolute;
    margin-left: 50px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#aa{
    margin-top: -150px;
}
#bb{
    margin-top: -248px;
    height: 350px;
}
#cc{
    margin-top: -180px;
    height: 320px;
}
#dd{
    margin-left: 90px;
    margin-top: -140px;
    height: 320px;
}
#ee{
    margin-top: -190px;
    height: 350px;
}
#ff{
    margin-left: 90px;
    margin-top: -290px;
    height: 340px;
}
.text{
    font-size: 20px;
    margin-left: 70px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#t1{
    margin-top: 220px;
}
#t2{
    margin-top: 120px;
}
#t3{
    margin-top: 190px;
}
#t4{
    margin-top: 220px;
}
#t5{
    margin-top: 170px;
}
#t6{
    margin-top: 70px;
}
h4{
    margin-top: 60px;
}